[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
ogf_lottery = "2CHDuw476jJk4oTtrKuA9PSvLsxSHsEQ3sLm3zJvwJsy"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
