[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
ogf_lottery = "6guE7uxYBeUq3ZPGW7gSCNGeASNip7E2jLxmGZ8U8WVU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
